$light-grey: #746b6b34
$purple: rgb(192, 0, 166)
.radio-button
    position: relative
    padding-left: 35px
    margin-top: 20px
    margin-bottom: 20px
    margin-right: 10px
    cursor: pointer
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    input
        position: absolute
        opacity: 0
        cursor: pointer

.radio-button:last-child
    margin-right: 0px


.checkmark
    position: absolute
    top: 0
    left: 0
    height: 22px
    width: 22px
    border: 2px solid $light-grey
    background-color: white
    border-radius: 50%

    /* On mouse-over, add a grey background color */
.radio-button:hover input ~ .checkmark
    background-color: #ccc

/* When the radio button is checked, add a blue background */
.radio-button input:checked ~ .checkmark
    background-color: none

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after
    content: ""
    position: absolute
    display: none

/* Show the indicator (dot/circle) when checked */
.radio-button input:checked ~ .checkmark:after
    display: block

/* Style the indicator (dot/circle) */
.radio-button .checkmark:after
    top: 4px
    left: 4px
    width: 10px
    height: 10px
    border-radius: 50%
    background: $purple

